#{extends 'main.html' /}
#{set title: 'Home' /}
<div id="sidebar">
	<h1>&{'home.history.title'}</h1>
</div>
<div id="content">
	<div id="posts" class="posts">
	<h1>&{'home.posts.title'}</h1>
	#{if posts}
		#{list items:posts, as:'post'}
			<div class⁼"post" id="post_${post.id}">
					<h2>#${post.id}. ${post.title}</h2>
				#{if post.header}
				<div class="header">${post.header}</div>
				#{/if}
				<div class="content">${post.content}</div>
				<div class="infos">
					<span class="author">&{'home.post.author.label'} ${post.author}</span>
					<span class="date">&{'home.post.createdAt.label'} ${post.createdAt}</span>
				</div>
			</div>
		#{/list}
	#{/if}
	</div> 
</div>
